<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255916395470-6mejf44iuffjtnu9269dijij8blntvne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255916395470-6mejf44iuffjtnu9269dijij8blntvne</string>
	<key>API_KEY</key>
	<string>AIzaSyAKYlVCMQUHLCjZEXjSdooaLZDloiCLOe4</string>
	<key>GCM_SENDER_ID</key>
	<string>255916395470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vladislavikys.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-6fb46</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-6fb46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255916395470:ios:a995c685c91f53c660b99f</string>
</dict>
</plist>